@media (max-width: 860px) {
   .glav {
      &__title {
         font-size: 25px;
      }
      &__subtitle {
         font-size: 30px;
      }
   }
}
@media (max-width: 771px) {
   .glav {
      &__subtitle {
         font-size: 22px;
         margin-top: 20px;
      }
   }
}
@media (max-width: 610px) {
   .glav {
      &__title {
         font-size: 22px;
      }
      &__subtitle {
         font-size: 22px;
         margin-top: 20px;
      }
      &__wrapper {
         grid-template-columns: auto 280px;
      }
   }
}
@media (max-width: 560px) {
   .glav {
      &__title {
         font-size: 22px;
      }
      &__subtitle {
         font-size: 22px;
         margin-top: 20px;
      }
      &__wrapper {
         grid-template-columns: auto 250px;
      }
   }
}
@media (max-width: 530px) {
   .glav {
      min-height: 600px;
      &__title {
         font-size: 22px;
      }
      &__subtitle {
         font-size: 22px;
         margin-top: 20px;
      }
      &__wrapper {
         grid-template-columns: auto;
         grid-template-rows: repeat(2, auto);
         grid-gap: 0;
      }
      &__mainImg {
         grid-row: 1/2;
      }
   }
}