@media (max-width: 450px) {
    .slick-slider{
        position: relative;
        padding: 0 10px;
        padding-bottom: 10px;
        max-width: 530px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 0;
    }
}