.header {
   width: 100%;
   min-height: 85px;
   background-color: #E9E9E9;
   &__list {
      padding: 3px 10px;
      position: relative;
      width: 100%;
      height: 85px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 33px;
      align-items: center;
      justify-content: center;
   }
   &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 23px;
      span {
         font-weight: bold;
      }
   }
   &__link {
      display: block;
      text-decoration: none;
      color: black;
      text-shadow: 5px 5px 5px white;
   }
   &__img {
      margin-right: 15px;
   }
}